$primary-color: #0068ff;


.d-flex {
    display: flex;
    display: -ms-flexbox;
}

.align-items-center {
    align-items: center;
    -ms-flex-align: center;
}

.justify-content-center {
    justify-content: center;
    -ms-flex-pack: center;
}

.flex-wrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

#ac_container {
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.ac_menu-container {
    margin-bottom: 40px;

    .ac_menu-label {
        margin-right: 15px;
        font-weight: 500;
    }

    .ac_schedule-menu {
        display: none;
        align-items: center;
        -ms-flex-align: center;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;

        .ac_btn {
            display: inline-block;
            margin-right: 8px;
            padding: .375rem .75rem;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            background-color: transparent;
            border: 1px solid #ddd;
            line-height: 1.5;
            border-radius: .25rem;
            transition: all ease .35s;
            font-size: 1rem;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                background-color: #f1f1f1;
            }

            &.active {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }

    #ac_menu-select {
        display: block;
        margin-top: 10px;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    @media(min-width: 768px) {
        #ac_menu-select {
            display: none;
        }

        .ac_schedule-menu {
            display: flex;
            display: -ms-flexbox;
        }

    }
}

.ac_legend-container {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;

    .legend-block {
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        -ms-flex-align: center;

        &._available {
            margin-right: 30px;

            .legend-color {
                background-color: transparentize($color: $primary-color, $amount: .75);
            }
        }

        &._selected {
            .legend-color {
                background-color: $primary-color;
            }
        }
    }

    .legend-color {
        width: 18px;
        height: 15px;
        border-radius: 4px;
        margin-right: 10px;
    }
}

#availability-calendar {
    position: relative;
    transition: all ease .5s;

    &.bordered {
        .ui-datepicker-header {
            margin-bottom: 15px;
            background-color: $primary-color;

            >a[class*="ui-datepicker-"] {
                border: 1px solid $primary-color;
                background-color: #fff;
                border-radius: 0;

                &.ui-state-hover {
                    border: 1px solid $primary-color;
                }
            }
        }

        .ui-datepicker-group-first {
            .ui-datepicker-calendar {
                margin-left: 0;
            }
        }

        .ui-datepicker-group-last {
            .ui-datepicker-calendar {
                margin-right: 0;
            }
        }

        .ui-datepicker-group {
            table {
                width: calc(100% - 10px);
            }
        }

        .ui-datepicker-title {
            color: #fff;
        }

        .ui-datepicker {
            th {
                border: 1px solid #ddd !important;
            }

            td {
                padding: 0 !important;
                border: 1px solid #ddd !important;
            }

            .ui-state-default {
                border-radius: 0;
            }
        }
    }

    &.loading {
        opacity: .5;
    }

    .ui-datepicker {
        width: 100% !important;
    }

    .ui-datepicker-group {
        table {
            width: calc(100% - 20px);
            table-layout: fixed;
        }
    }

    .ui-datepicker {
        width: 100% !important;
        border: 0;
        border-radius: 0;
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;

        th {
            text-align: right;
            user-select: none;
        }

        td {
            position: relative;
            border: 0;
            padding: 0;
            margin: 0;
            color: #212529;
            user-select: none;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
            }
        }

        td[data-handler="selectDay"] {
            padding: 2px;
            border: 0;
            background-color: transparent;
        }

        td[data-handler="selectDay"]:not(.checkin-date) {
            opacity: .4;
            pointer-events: none;
        }

        .ui-state-highlight {
            border: 0;
            opacity: 1 !important;

            .ui-state-default {
                background-color: $primary-color !important;
                color: #fff !important;
                font-weight: 800;
            }
        }

        .ui-state-default {
            position: relative;
            padding: 4px 6px;
            border: 0;
            background-color: transparent;
            height: 42px;
            font-size: 16px;
            border-radius: 3px;
            transition: all ease .35s;
            font-weight: 800;
            color: rgba(33, 37, 41, 0.6);
        }

        .checkin-date {
            .ui-state-default {
                background-color: transparentize($color: $primary-color, $amount: .7);
                text-decoration: underline !important;
                color: $primary-color;
            }
        }

        .ui-state-disabled {
            opacity: 1;
            background: transparent;

            .ui-state-default {
                opacity: .5;
                text-decoration: line-through;
            }
        }
    }

    .ui-datepicker-header {
        margin-bottom: 30px;
        padding: 0;
        background-color: transparent;
        background-position: center;
        border: 0;
        border-radius: 0;
    }

    .ui-datepicker-title {
        padding: 6px 0px;
        user-select: none;
    }

    .ui-datepicker-header>a[class*="ui-datepicker-"] {
        top: 0;
        border: 1px solid #ddd;
        border-radius: 3px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-size: 35px;
        background-position: center;

        &.ui-state-hover {
            border: 1px solid #ddd;
        }

        .ui-icon {
            display: none;
        }
    }

    .ui-datepicker-prev {
        left: 0;
        background-image: url('../img/arrows_left.png') !important;

        &.ui-datepicker-prev-hover {
            left: 0;
        }
    }

    .ui-datepicker-next {
        right: 0;
        background-image: url('../img/arrows_right.png') !important;

        &.ui-datepicker-next-hover {
            right: 0;
        }
    }

    @media(min-width: 576px) and (max-width: 768px) {
        .ui-datepicker {
            .ui-state-default {
                height: 36px;
                font-size: 14px;
            }
        }
    }
}